$color-primary: #F66E1F !default;
$color-dark: #252536 !default;
$color-gray: #9D9DAD !default;
$color-gray-light: #616175 !default;
$color-white: #FFFFFF !default;
$color-black: #000000 !default;


$breakpoint-mobile: 576px !default;
$breakpoint-desktop: 1920px !default;

$font-family-base: 'Raleway', Arial, sans-serif !default;